@media screen and (max-width:850px){
	.introduction .container{padding: 0 40px;}
	}
@media screen and (max-width:768px){
	.mainFooter{
		.textContainer{
			-webkit-flex-flow: wrap; flex-flow: wrap;
			}
		.copyright, .footerNav{
			-webkit-box-flex: 1 100%; -webkit-flex: 1 100%; flex: 1 100%;
			}
		.copyright{text-align: right;}
		.footerNav{padding-top: 10px;}
		}
	}
@media screen and (max-width:600px){
	.container{-webkit-flex-flow: wrap; flex-flow: wrap;}
	div[class$="Fifth"]{
		//float: none;
		//max-width: 100%;
		//width: 100%;
		-webkit-box-flex: 1 100%; -webkit-flex: 1 100%; flex: 1 100%;
		&:first-child{padding-bottom: 20px;}
		&:last-child{padding: 0;}
		}
	.explanation .button{
		display: block;
		text-align: center;
		}
	}

@media screen and (max-width:550px){
	.mainNav{
		text-align: center;
		a{font-size: 5vw;}
		}
	footer.mainFooter{
		.copyright, .footerNav, .footerNav a{
			display: block;
			padding: 0;
			padding-bottom: 10px;
			}
		.footerNav a:last-child{
			padding: 0;
			}
		}
	.interior .introduction{
		h1{font-size: 8.5vw;}
		}
	}

@media screen and (max-width:475px){
	.teamProfiles .teamProfile{
		-webkit-flex-flow: wrap; flex-flow: wrap;
		text-align: center;
		.teamProfileText{-webkit-box-flex: 1 100%; -webkit-flex: 1 100%; flex: 1 100%;}
		img{margin: 0 auto;}
		.teamProfileText{padding-left: 0;}
		}	
	}