@media screen and (max-width:850px){
	.introduction .container{padding: 0 40px;}
	}
@media screen and (max-width:768px){
	.mainFooter{
		.textContainer{
			@include flexWrap(wrap);
			}
		.copyright, .footerNav{
			@include flex(1 100%);
			}
		.copyright{text-align: right;}
		.footerNav{padding-top: 10px;}
		}
	}
@media screen and (max-width:600px){
	.container{@include flexWrap(wrap);}
	div[class$="Fifth"]{
		//width: 100%;
		@include flex(1 100%);
		&:first-child{padding-bottom: 20px;}
		&:last-child{padding: 0;}
		}
	.buttonHolder{text-align: center;}
	.explanation .button{
		display: block;
		text-align: center;
		}
	}

@media screen and (max-width:550px){
	.mainNav{
		text-align: center;
		a{font-size: 5vw;}
		}
	footer.mainFooter{
		.copyright, .footerNav, .footerNav a{
			display: block;
			padding: 0;
			padding-bottom: 10px;
			}
		.footerNav a:last-child{
			padding: 0;
			}
		}
	.interior .introduction{
		h1{font-size: 8.5vw;}
		}
	}

@media screen and (max-width:475px){
	.offerNav{@include flex(1 20%);}
	.mainNav{
		.intenalNav{@include flex(1 80%);}
		.tryButton{
			margin-right: 0;
			margin-bottom: 5px;
			}
		.buyButton, .tryButton{
			display: block;
			padding: 3px 8px;
			}	
		}
	.teamProfiles .teamProfile{
		@include flexWrap(wrap);
		text-align: center;
		.teamProfileText{@include flex(1 100%);}
		img{margin: 0 auto;}
		.teamProfileText{padding-left: 0;}
		}	
	}