@import "reset";
@import "globals";

//*********************************************HEADER
.mainHeader{
	background: url("../images/sigil.png") 10px center no-repeat, rgba($mainGreen,.3);
	text-align: center;
	padding: 15px 20px 10px;
	position: relative;
	&::after{
		background: linear-gradient(to bottom, rgba($darkGreen,.3), rgba($mainGreen,.3));
		content: "";
		position: absolute;
		height: 30px;
		left: 0; right: 0;
		top: 100%;
		}
	}

//*******************************************NAVIGATION
.mainNav{
	background: $lightBrown;
	margin: 0 auto;
	max-width: 840px;
	padding: 12px 20px 8px;
	position: relative;
	top:15px;
	z-index: 2;
	&::before, &::after{
		border: 10px solid white;
		box-sizing: content-box;
		content: "";
		position: absolute;
		top:100%;
		z-index: 1;
		}
	&::before{
		left: 0;
		border-color: darken($lightBrown,25%)  darken($lightBrown,25%) transparent transparent;
		}
	&::after{
		right: 0;
		border-color:  darken($lightBrown,25%) transparent transparent  darken($lightBrown,25%);
		}
	a{
		color: $darkGreen;
		font-size: 1.8em;
		font-weight: 700;
		margin-right: 20px;
		text-decoration: none;
		text-transform: uppercase;
		&.navHere, &:hover{color: $mainGreen;}
		}
	}
	
//********************************************************************SECTIONS

section, .teamProfiles, .mainFooter{
	overflow: hidden;
	}	
.introduction{
	background: linear-gradient(to bottom, rgba($darkGreen,.7), rgba($darkGreen,.5));
	color: white;
	margin-top: -9px;
	padding: 40px 0 20px;
	text-shadow: 0 1px 3px $darkGreen;
	}
.interior{
	.introduction{
		h1{
			font: 400 normal 5em/1 $serifStack;
			padding-bottom: 10px;
			}
		}
	}
	
//EXPLANATION	
.explanation{
	background: url("../images/tennis-wizard.png") -200px 30px no-repeat,linear-gradient(to bottom, rgba($lightBrown,.9), rgba($lightBrown,.7));
	border-top: 5px solid lighten($lightBrown,2%);
	padding: 30px 0 0;
	h2{text-shadow: 0 2px 3px rgba($midBrown,.5);}
	p{color: $darkGreen;}
	.button{
		background: linear-gradient(to bottom, $mainGreen, darken($mainGreen,5%));
		border-radius: 5px;
		box-shadow: 0px 2px 3px $lightBrown;
		border:none;
		color: $lightBrown;
		font-style: italic;
		letter-spacing: 1px;
		padding: 5px 15px;
		text-shadow: 0 1px 3px $darkGreen;
		text-decoration: none;
		&:hover{
			cursor: pointer;
			background: linear-gradient(to bottom, darken($mainGreen,5%), darken($mainGreen,10%));
			}
		&:active{
			cursor: pointer;
			background: linear-gradient(to bottom, darken($mainGreen,10%), darken($mainGreen,15%));
			}
		}
	.container{
		@extend %clearfix;
		padding-bottom: 30px;
		}
	}

.interior .explanation{
	h2{
		color: $mainGreen;
		font-size: 2.4em;
		font-weight: 700;
		text-transform: uppercase;
		text-shadow: 0 1px 1px rgba($lightBrown,.8);
		padding-bottom: 20px;
		}
	.character, .doublesSection{
		background: linear-gradient(to bottom, rgba($midBrown,.2), rgba($midBrown,.1));
		padding-top: 30px;
		h1{
			color: $darkBrown;
			font-size: 2em;
			font-weight: 400;
			letter-spacing: 2px;
			text-align: center;
			}
		}
	p a{
		color: $mainGreen;
		&:hover{border-bottom-color: $mainGreen;}
		}
	ol{list-style-type: decimal;}
	ul{list-style-type: circle;}
	ul, ol{
		font: 400 normal 1.6em/1.8em $serifStack;
		padding-left: 20px;
		padding-bottom: 30px;
		i{font-style: italic;}
		}
	ol ul {
		font-size: 1em;
		padding-bottom: 0;
		}
	}
	
#faq .explanation{
	.container{max-width: 530px;}
	}
#rules{
	.twoFifth{
		h2{color: $midBrown;}
		ul, p{color: $darkBrown;}
		}
	}
aside.example{
	background: linear-gradient(to bottom, rgba($lightBrown,.6), rgba($lightBrown,.4));
	border: 5px  ridge rgba($midBrown,.2);
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba($darkBrown,.5);
	padding: 15px;
	position: relative;
	margin-bottom: 30px;
	h3{
		color: $midBrown;
		font-size: 1.6em;
		font-weight: 400;
		letter-spacing: 2px;
		padding-bottom: 10px;
		text-align: center;
		text-transform: uppercase;
		}
	p{color: $darkBrown;}
	&::after{
		box-shadow: 0 2px 3px rgba($darkBrown,.5);
		content: "i";
		color: $lightBrown;
		font: 400 italic 1.8em $serifStack;
		height: 25px;
		width: 25px;
		background: $mainGreen;
		border-radius: 50%;
		position: absolute;
		top:-10px; right: -10px;
		text-align: center;
		}
	}
	
//QUOTATIONS
.quotation{
	background: linear-gradient(to bottom, rgba($midBrown,.2), rgba($midBrown,.1));
	padding: 30px 20px;
	text-align: center;
	blockquote{
		margin: 0 auto;
		max-width: 530px;
		padding-bottom: 30px;
		cite{
			color: $mainGreen;
			font: 600 normal 1.6em/1 $serifStack;
			text-transform: uppercase;
			}
		p{
			color: $darkBrown;
			font-style: italic;
			}
		&:last-child{padding-bottom: 0;}
		}	
	}

.beforeFooter{
	background: linear-gradient(to bottom, rgba($mainGreen,.5), rgba($mainGreen,.3));
	border-top: 5px solid lighten($mainGreen,5%);
	box-shadow: 0 5px 5px $darkGreen;
	padding: 30px 20px;
	h2{
		color: $darkGreen;
		font: 700 normal 1.6em/1 $serifStack;
		text-transform: uppercase;
		}
	p{color: white;}
	}
.interior .beforeFooter{
	text-align: center;
	}
	
//TEAM PROFILES	
.teamProfiles{
	h1{
		color: white;
		font-size: 2em;
		font-weight: 400;
		letter-spacing: 2px;
		text-align: center;
		}
	.teamProfile{
		margin: 0 auto;
		max-width: 650px;
		padding-bottom: 20px;
		img{
			background: linear-gradient(to bottom, rgba($darkGreen,.2), rgba($darkGreen,0));
			padding: 8px;
			border-radius: 50%;
			float: left;
			margin-right: -180px;
			}
		.teamProfileText{
			padding-left: 180px;
			padding-top: 5%;
			}
		h3{
			color: darken($mainGreen,15%);
			font: 600 italic 1.6em/1 $serifStack;
			}
		h2{
			color: $darkGreen;
			font: 700 normal 2em/1 $serifStack;
			text-transform: uppercase;
			}
		@extend %clearfix;
		}
	}

	
//***********************************************************FOOTER
footer.mainFooter{
	background:url("../images/reverse-sigil.png") right center no-repeat, linear-gradient(to bottom, rgba($darkGreen,.8), rgba($darkGreen,.6));
	padding: 30px 20px 20px;
	text-align: right;
	.Eye4Logo, .copyright{float: left;}
	.Eye4Logo{
		margin-top: -35px;
		}
	.copyright{
		color: $lightBrown;
		font: 200 normal 2em/1 "Oswald",Helvetica, Arial, sans-serif;
		padding: 30px 0 0 20px;
		text-transform: uppercase;
		}
	.footerNav{
		padding-top:30px;
		a{
			color: $mainGreen;
			font: 700 italic 2em/1 $serifStack;
			margin-left: 30px;
			padding: 30px 0 20px;
			text-decoration: none;
			text-shadow: 0 1px 2px $darkGreen;
			&:hover{color: $lightBrown;}
			}
		}
	}
	
@import "media-queries";