html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, * + * {
  box-sizing: border-box; }

body {
  background: url("../images/green-bg.jpg") repeat;
  font-size: 62.5%;
  font-family: "Vollkorn", Georgia, Times, serif; }

img, svg {
  max-width: 100%;
  height: auto; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px; }

.explanation .container::after, .teamProfiles .teamProfile::after {
  content: "";
  display: block;
  clear: both; }

a:hover {
  transition: color 100ms ease-in-out; }

p {
  font: 400 normal 1.6em/1.8em "Vollkorn", Georgia, Times, serif;
  padding-bottom: 20px; }
  p:last-child {
    padding-bottom: 0; }
  p b {
    font-weight: 600; }
  p i {
    font-style: italic; }
  p a {
    color: #8bc53f;
    text-decoration: none; }
    p a:hover {
      border-bottom: 1px solid #8bc53f; }

h1 {
  color: #009345;
  font-size: 2.4em;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px; }

.twoFifth {
  -webkit-box-flex: 2 42.75%;
  -webkit-flex: 2 42.75%;
  -ms-flex: 2 42.75%;
  flex: 2 42.75%;
  overflow: hidden; }

.threeFifth {
  -webkit-box-flex: 3 57.25%;
  -webkit-flex: 3 57.25%;
  -ms-flex: 3 57.25%;
  flex: 3 57.25%; }

div[class$="Fifth"]:last-child {
  padding-left: 30px; }

.mainHeader {
  background: url("../images/sigil.png") 10px center no-repeat, rgba(0, 147, 69, 0.3);
  text-align: center;
  padding: 15px 20px 10px;
  position: relative; }
  .mainHeader::after {
    background: linear-gradient(to bottom, rgba(16, 50, 41, 0.3), rgba(0, 147, 69, 0.3));
    content: "";
    position: absolute;
    height: 30px;
    left: 0;
    right: 0;
    top: 100%; }

.mainNav {
  -webkit-align-items: center;
  align-items: center;
  background: #efeecb;
  margin: 0 auto;
  max-width: 840px;
  padding: 8px 20px;
  position: relative;
  text-align: right;
  top: 15px;
  z-index: 2; }
  .mainNav .offerNav {
    display: -webkit-inline-flex;
    display: inline-flex; }
  .mainNav .intenalNav {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: left; }
    .mainNav .intenalNav a {
      margin-right: 20px; }
      .mainNav .intenalNav a.navHere, .mainNav .intenalNav a:hover {
        color: #009345; }
  .mainNav::before, .mainNav::after {
    border: 10px solid white;
    box-sizing: content-box;
    content: "";
    position: absolute;
    top: 100%;
    z-index: 1; }
  .mainNav::before {
    left: 0;
    border-color: #d1ce6a #d1ce6a transparent transparent; }
  .mainNav::after {
    right: 0;
    border-color: #d1ce6a transparent transparent #d1ce6a; }
  .mainNav a {
    color: #103229;
    font-size: 1.8em;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
    text-transform: uppercase; }
  .mainNav .buyButton, .mainNav .tryButton {
    color: #efeecb; }
  .mainNav .tryButton {
    background: linear-gradient(to bottom, #9c9c75, #5e5e47);
    margin-right: 10px; }
    .mainNav .tryButton:hover {
      background: linear-gradient(to bottom, #909067, #81815d); }
    .mainNav .tryButton:active {
      background: linear-gradient(to bottom, #81815d, #727252); }

section, .teamProfiles, .mainFooter {
  overflow: hidden; }

.introduction {
  background: linear-gradient(to bottom, rgba(16, 50, 41, 0.7), rgba(16, 50, 41, 0.5));
  color: white;
  margin-top: -9px;
  padding: 40px 0 20px;
  text-shadow: 0 1px 3px #103229; }

.interior .introduction .container {
  display: block; }

.interior .introduction h1 {
  font: 400 normal 5em/1 "Vollkorn", Georgia, Times, serif;
  padding-bottom: 10px; }

.explanation {
  background: url("../images/tennis-wizard.png") -200px 30px no-repeat, linear-gradient(to bottom, rgba(239, 238, 203, 0.9), rgba(239, 238, 203, 0.7));
  border-top: 5px solid #f1f1d3;
  padding: 30px 0 0; }
  .explanation h2 {
    text-shadow: 0 2px 3px rgba(156, 156, 117, 0.5); }
  .explanation p {
    color: #103229; }
  .explanation .container {
    padding-bottom: 30px; }

.button {
  background: linear-gradient(to bottom, #009345, #007939);
  border-radius: 5px;
  box-shadow: 0px 2px 3px #efeecb;
  border: none;
  color: #efeecb;
  font-style: italic;
  letter-spacing: 1px;
  padding: 5px 15px 3px;
  text-shadow: 0 1px 3px #103229;
  text-decoration: none; }
  .button:hover {
    cursor: pointer;
    background: linear-gradient(to bottom, #007939, #00602d); }
  .button:active {
    cursor: pointer;
    background: linear-gradient(to bottom, #00602d, #004621); }

.tryIt {
  background: linear-gradient(to bottom, #9c9c75, #909067); }
  .tryIt:hover, .tryIt:active {
    cursor: pointer; }
  .tryIt:hover {
    background: linear-gradient(to bottom, #909067, #81815d); }
  .tryIt:active {
    background: linear-gradient(to bottom, #81815d, #727252); }

.interior .explanation h2 {
  color: #009345;
  font-size: 2.4em;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(239, 238, 203, 0.8);
  padding-bottom: 20px; }

.interior .explanation .character, .interior .explanation .doublesSection {
  background: linear-gradient(to bottom, rgba(156, 156, 117, 0.2), rgba(156, 156, 117, 0.1));
  padding-top: 30px; }
  .interior .explanation .character h1, .interior .explanation .doublesSection h1 {
    color: #5e5e47;
    font-size: 2em;
    font-weight: 400;
    letter-spacing: 2px;
    text-align: center; }

.interior .explanation p a {
  color: #009345; }
  .interior .explanation p a:hover {
    border-bottom-color: #009345; }

.interior .explanation ol {
  list-style-type: decimal; }

.interior .explanation ul {
  list-style-type: circle; }

.interior .explanation ul, .interior .explanation ol {
  font: 400 normal 1.6em/1.8em "Vollkorn", Georgia, Times, serif;
  padding-left: 20px;
  padding-bottom: 30px; }
  .interior .explanation ul i, .interior .explanation ol i {
    font-style: italic; }

.interior .explanation ol ul {
  font-size: 1em;
  padding-bottom: 0; }

#faq .explanation .container {
  max-width: 530px;
  display: block; }

#rules .twoFifth h2 {
  color: #9c9c75; }

#rules .twoFifth ul, #rules .twoFifth p {
  color: #5e5e47; }

aside.example {
  background: linear-gradient(to bottom, rgba(239, 238, 203, 0.6), rgba(239, 238, 203, 0.4));
  border: 5px ridge rgba(156, 156, 117, 0.2);
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(94, 94, 71, 0.5);
  padding: 15px;
  position: relative;
  margin-bottom: 30px; }
  aside.example h3 {
    color: #9c9c75;
    font-size: 1.6em;
    font-weight: 400;
    letter-spacing: 2px;
    padding-bottom: 10px;
    text-align: center;
    text-transform: uppercase; }
  aside.example p {
    color: #5e5e47; }
  aside.example::after {
    box-shadow: 0 2px 3px rgba(94, 94, 71, 0.5);
    content: "i";
    color: #efeecb;
    font: 400 italic 1.8em "Vollkorn", Georgia, Times, serif;
    height: 25px;
    width: 25px;
    background: #009345;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center; }

.quotation {
  background: linear-gradient(to bottom, rgba(156, 156, 117, 0.2), rgba(156, 156, 117, 0.1));
  padding: 30px 20px;
  text-align: center; }
  .quotation blockquote {
    margin: 0 auto;
    max-width: 530px;
    padding-bottom: 30px; }
    .quotation blockquote cite {
      color: #009345;
      font: 600 normal 1.6em/1 "Vollkorn", Georgia, Times, serif;
      text-transform: uppercase; }
    .quotation blockquote p {
      color: #5e5e47;
      font-style: italic; }
    .quotation blockquote:last-child {
      padding-bottom: 0; }

.beforeFooter {
  background: linear-gradient(to bottom, rgba(0, 147, 69, 0.5), rgba(0, 147, 69, 0.3));
  border-top: 5px solid #00ac51;
  box-shadow: 0 5px 5px #103229;
  padding: 30px 20px; }
  .beforeFooter h2 {
    color: #103229;
    font: 700 normal 1.6em/1 "Vollkorn", Georgia, Times, serif;
    text-transform: uppercase; }
  .beforeFooter p {
    color: white; }

.interior .beforeFooter {
  text-align: center; }

.teamProfiles h1 {
  color: white;
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center; }

.teamProfiles .teamProfile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 650px;
  padding-bottom: 20px; }
  .teamProfiles .teamProfile img {
    background: linear-gradient(to bottom, rgba(16, 50, 41, 0.2), rgba(16, 50, 41, 0));
    padding: 8px;
    border-radius: 50%; }
  .teamProfiles .teamProfile .teamProfileText {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-align-self: center;
    align-self: center;
    padding-left: 20px; }
  .teamProfiles .teamProfile h3 {
    color: #004621;
    font: 600 italic 1.6em/1 "Vollkorn", Georgia, Times, serif; }
  .teamProfiles .teamProfile h2 {
    color: #103229;
    font: 700 normal 2em/1 "Vollkorn", Georgia, Times, serif;
    text-transform: uppercase; }

.awardsGranted {
  background: linear-gradient(to bottom, rgba(16, 50, 41, 0.3), rgba(16, 50, 41, 0));
  margin: 0 -20px -30px;
  padding: 30px 0;
  text-align: center; }
  .awardsGranted h3 {
    color: #103229;
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 15px; }

.gmgSeal svg {
  fill: white; }

.gmgSeal:hover svg {
  fill: #8bc53f; }

.mainFooter {
  background: url("../images/reverse-sigil.png") right center no-repeat, linear-gradient(to bottom, rgba(16, 50, 41, 0.8), rgba(16, 50, 41, 0.6));
  padding: 30px 20px 20px;
  text-align: right; }
  .mainFooter .container {
    overflow: visible; }
  .mainFooter .Eye4Logo {
    margin-top: -35px; }
  .mainFooter .textContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    padding-left: 20px; }
  .mainFooter .copyright {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    color: #efeecb;
    font: 200 normal 2em/1 "Oswald", Helvetica, Arial, sans-serif;
    padding: 30px 0 0;
    text-align: left;
    text-transform: uppercase; }
  .mainFooter .footerNav {
    -webkit-box-flex: 2;
    -webkit-flex: 2;
    flex: 2;
    padding-top: 30px; }
    .mainFooter .footerNav a {
      color: #009345;
      font: 700 italic 2em/1 "Vollkorn", Georgia, Times, serif;
      margin-left: 30px;
      padding: 30px 0 20px;
      text-decoration: none;
      text-shadow: 0 1px 2px #103229; }
      .mainFooter .footerNav a:hover {
        color: #efeecb; }

@media screen and (max-width: 850px) {
  .introduction .container {
    padding: 0 40px; } }

@media screen and (max-width: 768px) {
  .mainFooter .textContainer {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  .mainFooter .copyright, .mainFooter .footerNav {
    -webkit-box-flex: 1 100%;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%; }
  .mainFooter .copyright {
    text-align: right; }
  .mainFooter .footerNav {
    padding-top: 10px; } }

@media screen and (max-width: 600px) {
  .container {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap; }
  div[class$="Fifth"] {
    -webkit-box-flex: 1 100%;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%; }
    div[class$="Fifth"]:first-child {
      padding-bottom: 20px; }
    div[class$="Fifth"]:last-child {
      padding: 0; }
  .buttonHolder {
    text-align: center; }
  .explanation .button {
    display: block;
    text-align: center; } }

@media screen and (max-width: 550px) {
  .mainNav {
    text-align: center; }
    .mainNav a {
      font-size: 5vw; }
  footer.mainFooter .copyright, footer.mainFooter .footerNav, footer.mainFooter .footerNav a {
    display: block;
    padding: 0;
    padding-bottom: 10px; }
  footer.mainFooter .footerNav a:last-child {
    padding: 0; }
  .interior .introduction h1 {
    font-size: 8.5vw; } }

@media screen and (max-width: 475px) {
  .offerNav {
    -webkit-box-flex: 1 20%;
    -webkit-flex: 1 20%;
    -ms-flex: 1 20%;
    flex: 1 20%; }
  .mainNav .intenalNav {
    -webkit-box-flex: 1 80%;
    -webkit-flex: 1 80%;
    -ms-flex: 1 80%;
    flex: 1 80%; }
  .mainNav .tryButton {
    margin-right: 0;
    margin-bottom: 5px; }
  .mainNav .buyButton, .mainNav .tryButton {
    display: block;
    padding: 3px 8px; }
  .teamProfiles .teamProfile {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: center; }
    .teamProfiles .teamProfile .teamProfileText {
      -webkit-box-flex: 1 100%;
      -webkit-flex: 1 100%;
      -ms-flex: 1 100%;
      flex: 1 100%; }
    .teamProfiles .teamProfile img {
      margin: 0 auto; }
    .teamProfiles .teamProfile .teamProfileText {
      padding-left: 0; } }
